### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Compilados (No queremos subir el código ya "masticado" por el PC)
out/
*.class

# IntelliJ (Configuraciones locales que cambian entre Fedora y Windows)
.idea/
*.iml

# Bases de datos (Los datos de tu práctica. Solo queremos el código, no los registros)
*.odb
*.odt
*.log